header,
footer {
    background-color: white;
    height: 10vh;
}

main {
    height: 80vh;
    background-color: rgb(53, 117, 245);
}

.btn {
    vertical-align: inherit;
}

div#grid {
    height: 700px;
}

.box:hover {
    opacity: 0.5;
}

/* box che mi serve per il js */
.box {
    width: calc(100% / 10);
    border: 2px solid black;
    cursor: crosshair;
    background-color: rgb(237, 240, 229);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.box-clicked {
    background-color: greenyellow;
}